@media screen and (max-width: 1000px){
	.data_title{
		font-size: 5.0vw!important;
	}
	.data_foot{
		font-size: 3.0vw!important;
	}
	.data_body{
		font-size: 3.0vw!important;
	}
	.data_time{
		font-size: 3.0vw!important;
	}
}

.banner .banner_center a{
	cursor: url(../img/cursor.cur),auto;
	display: block;
	text-decoration: none;
}
.data_text{
	position: relative;
	width: 385px;
	height: 210px;
	border-radius: 10px;
	color: white;
	text-align: center;
	margin-top: 10px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.1);
}
.data_text .bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	border-radius: 10px;
	background-size: cover;
	/**background-repeat: no-repeat;**/
	/**background-attachment:fixed;**/
	background-position:center 36%;
	transition: all 2s;
	-moz-transition: all 2s; /* Firefox 4 */
	-webkit-transition: all 2s; /* Safari and Chrome */
	-o-transition: all 2s;
}
.data_text:hover .bg{
	-webkit-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	width: 110%;
	height: 110%;
}
.data_text .data_title{
	width: 96%;
	font-size: 2.075vw;
	font-weight: 700;
	position: absolute;
	text-shadow: 0 0 5px #000;
	transform: translate(-50%,-50%);
	top: 45%;
	left: 50%;
	transition: all 2s;
	-moz-transition: all 2s; /* Firefox 4 */
	-webkit-transition: all 2s; /* Safari and Chrome */
	-o-transition: all 2s;
}

.data_text:hover .data_title{
	top: 30%;
	display: block;
}

.data_text .data_foot{
	position: absolute;
	width: 100%;
	opacity: 0;
	height: 30%;
	bottom: 0;
	display: flex;
	flex-direction: column;
}

.data_text .data_foot .data_body{
	font-size: 1.0vw;
	-moz-transition: all 2s; /* Firefox 4 */
	-webkit-transition: all 2s; /* Safari and Chrome */
	-o-transition: all 2s;
}

.data_text .data_foot .data_line{
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	margin: 0.2em auto;
	transition: all 2s;
	-moz-transition: all 2s; /* Firefox 4 */
	-webkit-transition: all 2s; /* Safari and Chrome */
	-o-transition: all 2s;
}

.data_text .data_foot .data_time{
	font-size: 1.4vw;
	-moz-transition: all 2s; /* Firefox 4 */
	-webkit-transition: all 2s; /* Safari and Chrome */
	-o-transition: all 2s;
}

.data_text:hover .data_foot{
	opacity: 1;
}

.data_text:hover .data_line{
	width: 109%;
}

.data_text:hover .data_body{
	font-size: 1.4vw;
	height: 50%;
}

.data_text:hover .data_time{
	font-size: 1.0vw;
}


