.api{
	position: relative;
	width: 100%;
	height: 100%;
}
.header{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 5px;
	margin-bottom: 20px;
}
.header .header_a{
	display: flex;
	justify-content: space-between;
}
/**.header .header_a .header_a_left{
	border-style: solid;
}
.header .header_a .header_a_right{
	border-style: solid;
}**/
.header .header_a .header_a_right a{
	text-decoration: none;
	line-height: 50px;
	font-size: 20px;
	font-weight: 700;
	margin: 5px;
	color: white;
}

.header .header_a .header_a_right a:hover{
	color: aqua;
}

.header .header_b{
	display: flex;
	justify-content: space-between;
}

.header .header_b_left{
	color: white;
	font-size: 20px;
	padding-top: 20px;
}

.header .header_b_right{
	text-align: center;
}

.header .header_c{
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}


.header .header_c .header_c_right{
	text-align: right;
	padding-right: 10px;
}


.logo_text {
	font-family: "PingFang SC";
	font-size: 40px;
	fill: none;
	stroke: url(#geekColor);
	stroke-width: 1;
	stroke-dasharray: 10 800;
	stroke-dashoffset: 10;
	animation: 10s linear 0s drawing infinite;
}
/**
.logo_text_1 {
	font-family: "blackadder itc";
	font-size: 22px;
	fill: none;
	stroke: url(#geekColor_1);
	stroke-width: 2;
	stroke-dasharray: 10 800;
	stroke-dashoffset: 10;
	animation: 10s linear 0s drawing infinite;
}
**/
@keyframes drawing {
	to {
		stroke-dasharray: 800;
		stroke-dashoffset: 0;
	}
}


.box{
	float: left;
}
.input_option{
	float: left;
	width: 310px;
	height: 33px;
	text-align: left;
	background-color: skyblue;
	padding-top: 5px;
	padding-left: 10px;
	opacity: 0;
	overflow: hidden;
	border-radius: 10px;
	margin-right: 5px;
	transition: all 2s;
}
.input_option input{
	width: 320px;
	height: 20px;
	margin: 0 auto;
	border-radius: 10px;
	overflow: hidden;
	transition: all 4s;
}
.input_option:hover input{
	border-radius: 0;
}
.box:hover .input_option{
	width: 340px;
	opacity: 10;
}
.box button{
	float: left;
	width: 50px;
	height: 40px;
	border-radius: 10px;
	overflow: hidden;
	transition: all 4s;
}
.box button img{
	width: 100%;
	height: 100%;
}

