.userheadwrap {
    position: relative;
}
.userhead {
	left: 50%;
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	border: 4px solid hsla(0,0%,100%,.4);
	background-color: red;
	background: url(../img/kob.jpg) center;
	background-size: cover;
	background-attachment: fixed;
	transition: all 0.4s;
	transform: translate(-50%, -50%);
}
.userhead:hover {
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%) rotate(360deg);
}